h1 {
  font-size: 36px;
  color: pink
}

h2 {
  color: orange;
}
h3 {
font-size: 70px;
color: blue;
background-color: yellow
}
span{
  color: red;
  }
p {
  font-family: "helvetica neu", arial, sans-serif;
  background-color: purple;
  color:white
  }
  
  .test{
    font-weight: bold;
    }
    
   div , p{
   
   }

   button {
     background-color: pink;
     color: white;
     }
