h1 {
  font-size: 36px;
  color: pink
}

h2 {
  color: orange;
}
p {
  font-family: "helvetica neu", arial, sans-serif;
  background-color: purple
  }
  
  .test{
    font-weight: bold;
    }
    
   div , p{
   
   }